body {
    background-color: lightblue;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:darkgreen;
}

.parraf_text {
    text-align: justify;
    font-size: 12 px;
    font-family: 'Courier New', Courier, monospace;
    font-style:unset;
    color: darkgreen;
}
h2, h3 {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: darkgreen;
}

input:focus {
    border: 4px solid green;
}

button:active {
    border: solid 4px green;
    size: 130%;
}